{% load static%}

<!doctype html>
<html lang="pt-br">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">
  
  <meta name="author" content="themefisher.com">

  <title>Home</title>

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href={%static "plugins/bootstrap/css/bootstrap.min.css" %}>
  <!-- Icon Font Css -->
  <link rel="stylesheet" href={%static "plugins/themify/css/themify-icons.css" %}>
  <link rel="stylesheet" href={%static "plugins/fontawesome/css/all.css" %}>
  <link rel="stylesheet" href={%static "plugins/magnific-popup/dist/magnific-popup.css" %}>
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href={%static "plugins/slick-carousel/slick/slick.css" %}>
  <link rel="stylesheet" href={%static "plugins/slick-carousel/slick/slick-theme.css" %}>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href={%static "css/style.css" %}>

</head>

<body>


<!-- Header Start --> 

<header class="navigation">
	<nav class="navbar navbar-expand-lg  py-4" id="navbar">
		<div class="container">
		  <a class="navbar-brand" href="index.html">
		  	EULE
		  </a>

		  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fa fa-bars"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse text-center" id="navbarsExample09">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="http://127.0.0.1:8000/inserir/"> Inserir <span class="sr-only">(current)</span></a>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/disciplinas/">Responder</a></li>
			   <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/perfil/">Perfil</a></li>
			   <li class="nav-item"><a class="nav-link" href="/accounts/logout">Sair</a></li>
			</ul>
		</div>
	</nav>
</header>

<!-- Header Close --> 

<div class="main-wrapper ">
<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<span class="d-block mb-3 text-white text-capitalize">Prepare-se para o seu futuro</span>
					<h1 class="animated fadeInUp mb-5">Lugar ideal para estudos para o Enem</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
		<div class="footer-btm pt-4">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Megakit.</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
   
    </div>

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="js/contact.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
   <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>

    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="js/script.js"></script>

  </body>
  </html>
   